<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginBasic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF8F50A01D89FDAE00A56950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF8F50BC1D89FDAE00A56950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF8F50C71D89FDAE00A56950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
